---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <section class="intro">
    <div class="welcome">
      <h1>Welcome!<h1/>
      <p>
	I'm Ben Vinnick, a Computer Science grad from UBC.
      </p>
      <p>
	I'm interested in software architecture, networking, and distributed systems.
      </p>
      <p>
	To read more about me you can <a href="/resume.pdf" download>download</a> my resume or look <a href="/resume">here</a>.
      </p>
    </div>
    <img src="/lucy.webp">
  </section>
</Layout>

<style>
.intro {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 90vh;
  margin: 0 auto;

  .welcome {
    width: 100%;
  }

  h1 {
    color: #050609;
    text-align: center;
  }

  a {
    color: #0d6bb4;
  }

  a:hover {
      color: #F2944B;
  }

  img {
    border-radius: 50%;
    border: 4px solid #F2944B;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 50%;
    margin: 20px 0;
  }
}

@media only screen and (min-width:800px) {
  .intro {
    width: 75%;

    .welcome {
      width: 60%;
    }

    img {
      width: 25%;
    }
  }
}
</style>
