---
const { experience } = Astro.props;
---
<section>
  <h2>{experience.title}</h2>
  <h5>@{experience.company}</h5>
  <span class="date">
    {experience.startDate + ' - ' + experience.endDate + ' | ' + experience.location}
  </span>
  <ul>
    {
      experience.highlights.map((highlight) => (
	<li>
	  {highlight}
	</li>
      ))
    }
  </ul>
</section>

<style>
h2 {
  margin-bottom: 0;
}

h5 {
  margin: 0;
}

.date {
  font-style: italic;
  font-size: 14px;
  color: #555452;
}

ul {
  padding: 5px 15px 15px 15px;
}
</style>
