<footer>
  <div>
    <a href="https://michaelfromorg.github.io/ubc-webring/" target="_blank" rel="noopener noreferrer">
      <img src="/ubc-coa.svg" alt="UBC Webring" width="36" height="50">
    </a>
  </div>
</footer>

<style>
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

footer div a img {
  padding: 5px;
  border-radius: 10px;
}

footer div a img:hover {
  background-color: #F2944B;
}
</style>
